@model IEnumerable<Udemy_Project.Models.CourseFeedBack>


<h2>Users Feedback</h2>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.CourseReviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseRatings)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.CourseReviews)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseRatings)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Course List", "sp_getCourse")
</div>
