@model IEnumerable<Udemy_Project.Models.CourseTrainer>

@{
    ViewBag.Title = "GetPurchasedCourses";
}

<h2>GetPurchasedCourses</h2>

<p>
    @Html.ActionLink("Search Couses", "SearchCourses")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseLevels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseSkills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CousrePrice)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseLevels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseSkills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CousrePrice)
        </td>
       
        <td>
            @Html.ActionLink("Add Feedback", "AddCourseFeedBack", new { courseId = item.CourseId }) 
            
            @Html.ActionLink("Show Feedback", "ShowCourseFeedback", new { courseId = item.CourseId }) 

        </td>
    </tr>
}

</table>
