@model IEnumerable<Udemy_Project.Models.CourseTrainer>

@{
    ViewBag.Title = "GetPurchasedCourses";
}

<h3 style="float:right">
    Welcome, @TempData["UserName"].ToString()
</h3>

<h2 style="font-size:40px; margin-left:310px;">Your Purchased Courses</h2>

<p style="border:1px solid black;font-size:medium; width:250px;border-radius:8px;padding:12px; position:absolute; top:68px; ">
    <i class="fa fa-search" aria-hidden="true"></i>
    @Html.ActionLink("Click To Search Couses.", "SearchCourses")

</p>

<table class="table" style="border:1px solid black;margin-top:30px;text-align:center">
    <tr style="border:1px solid black">

        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseLevels)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseLanguage)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseSkills)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CousrePrice)
        </th>

        <th style="text-align:center;border:1px solid black"> Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border:1px solid black">

            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseLevels)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseLanguage)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseSkills)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CousrePrice)
            </td>

            <td style="border:1px solid black">
                @Html.ActionLink("Add Feedback", "AddCourseFeedBack", new { courseId = item.CourseId }) |
                @Html.ActionLink("Show Feedback", "ShowCourseFeedback", new { courseId = item.CourseId })

            </td>
            @*<td onclick="validateFeedBack()" >
                    @Html.ActionLink("Show Feedback", "ShowCourseFeedback", new { courseId = item.CourseId })

                </td>*@

        </tr>
    }

</table>

<body>

   
        <form method="post" asp-controller="User" asp-action="SearchCourses">
            <h2>Search Courses :</h2>
            <input type="text" placeholder="Search Courses" name="ProductName" />
            <input type="submit" value="Search" />
            <br />
            <br />
        </form>
    

</body>

    

@*<script type="text/javascript">

            function validateFeedBack() {

                var feedbackCount = @Convert.ToInt32(TempData["FeedbackCount"]);

                if (feedbackCount == 0) {
                    alert("No Feedback Available");
                }
                }


    </script>*@

