@model IEnumerable<Udemy_Project.Models.CourseTrainer>

@{
    ViewBag.Title = "ListAllCourses";
}

<h3 style="float:right">
    Welcome @TempData["UserName"].ToString()
</h3>


<h2 style="font-size:40px; margin-left:410px;">ListAllCourses</h2>

<p>
    @Html.ActionLink("Cart", "ViewCart")
</p>

<p style="border:1px solid black;font-size:medium; width:250px;border-radius:8px;padding:12px; position:absolute; top:68px; ">
    <i class="fa fa-search" aria-hidden="true"></i>
    @Html.ActionLink("Click To Search Couses.", "SearchCourses")

</p>
<table class="table" style="border:1px solid black;margin-top:30px;text-align:center">
    <tr style="border:1px solid black">

        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseLevels)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseLanguage)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseSkills)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CousrePrice)
        </th>
        <th style="text-align: center; border:1px solid black">
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseLevels)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseLanguage)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseSkills)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CousrePrice)
            </td>
            <td onclick="addedToCart()">
                @*@Html.ActionLink("Add To Cart", "AddToCart", new { courseId = item.CourseId })*@
                @using (Html.BeginForm("AddToCart", "User", new { courseId = item.CourseId }))
                {
                    <input type="submit" value="Add To Cart" id="btnGet" />
                }
            </td>

        </tr>
    }

</table>
@*<script type="text/javascript">

    function addedToCart() {
        var a = @Convert.ToInt32(TempData["flag"]);
        if (a != 0) {
            alert('course already purchased')
        }
        else {
            alert('Added To Cart Successfully.');
        }
    }
</script>*@

<div style="font-size:large; padding:10px; border:1px solid black ;display:inline-block">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    @Html.ActionLink("Back to Course List", "GetPurchasedCourses")
</div>



