@model IEnumerable<Udemy_Project.Models.CourseTrainer>

@{
    ViewBag.Title = "SearchCourses";
}

<h2 style="font-size:40px; margin-left:310px;">Search Courses</h2>


        <table class="table" style="border:1px solid black;margin-top:30px;text-align:center">
            <tr style="border:1px solid black">
                
                <th style="border:1px solid black">
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th style="border:1px solid black">
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th style="border:1px solid black">
                    @Html.DisplayNameFor(model => model.CourseLevels)
                </th>
                <th style="border:1px solid black">
                    @Html.DisplayNameFor(model => model.CourseLanguage)
                </th>
                <th style="border:1px solid black">
                    @Html.DisplayNameFor(model => model.CourseSkills)
                </th>
                <th style="border:1px solid black">
                    @Html.DisplayNameFor(model => model.CousrePrice)
                </th>
                
                <th style="border:1px solid black"> Action </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                  
                    <td style="border:1px solid black">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td style="border:1px solid black">
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td style="border:1px solid black">
                        @Html.DisplayFor(modelItem => item.CourseLevels)
                    </td>
                    <td style="border:1px solid black">
                        @Html.DisplayFor(modelItem => item.CourseLanguage)
                    </td>
                    <td style="border:1px solid black">
                        @Html.DisplayFor(modelItem => item.CourseSkills)
                    </td>
                    <td style="border:1px solid black">
                        @Html.DisplayFor(modelItem => item.CousrePrice)
                    </td>
                   
                    <td style="border:1px solid black">
                        
                        @Html.ActionLink("Buy Now", "AddToCart", new { courseId = item.CourseId })
                    </td>
                </tr>
            }

        </table>
      
