@model IEnumerable<Udemy_Project.Models.CourseFeedBack>

@{
    ViewBag.Title = "ShowCourseFeedback";
}

<h2>ShowCourseFeedback</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CourseReviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseRatings)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CourseReviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseRatings)
            </td>

            <td>
                @Html.ActionLink("Edit FeedBack", "EditCourseFeedback", new { courseid = item.CourseId })
            </td>

            <td onclick="deleteFeedback()">
                @Html.ActionLink("Delete Feedback", "DeleteCourseFeedBack", new { courseid = item.CourseId })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Courses", "GetPurchasedCourses")
</div>



<dialog id="dialog" style="position:absolute;top:50px;right:20px; padding:8px;color:darkgreen"></dialog>

<script type="text/javascript">
    const setDialog = (msg) => {
        const dialog = document.getElementById("dialog");
        dialog.innerHTML = msg;
        dialog.open = true
        setTimeout(() => { dialog.open = false; }, 10000)
    }

    function deleteFeedback() {

        setDialog('feedback deleted successfully.');
    }
</script>  