@model IEnumerable<Udemy_Project.Models.CourseFeedBack>

@{
    ViewBag.Title = "ShowCourseFeedback";
}

<h2 style="font-size:40px; margin-left:310px;">Your Valuable Feedback</h2>

<table class="table" style="border:1px solid black;margin-top:30px;text-align:center">
    <tr style="border:1px solid black">

        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseReviews)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseRatings)
        </th>

        <th style="text-align: center;  border:1px solid black"> Action </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseReviews)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseRatings)
            </td>

            <td style="border:1px solid black">
                @Html.ActionLink("Edit FeedBack", "EditCourseFeedback", new { courseid = item.CourseId })
            </td>

            <td style="border:1px solid black" onclick="deleteFeedback()">
                @Html.ActionLink("Delete Feedback", "DeleteCourseFeedBack", new { courseid = item.CourseId })
            </td>
        </tr>
    }

</table>

<div style="font-size:large; padding:10px; border:1px solid black ;display:inline-block">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    @Html.ActionLink("Back to Courses", "GetPurchasedCourses")
</div>



<dialog id="dialog" style="position:absolute;top:50px;right:20px; padding:8px;color:darkgreen"></dialog>

<script type="text/javascript">
    const setDialog = (msg) => {
        const dialog = document.getElementById("dialog");
        dialog.innerHTML = msg;
        dialog.open = true
        setTimeout(() => { dialog.open = false; }, 10000)
    }

    function deleteFeedback() {

        setDialog('feedback deleted successfully.');
    }
</script>  