@model IEnumerable<Udemy_Project.Models.CourseFeedBack>

@{
    ViewBag.Title = "GetFeedback";
}

<h2>Users Feedback</h2>


<table class="table" style="border:1px solid black;margin-top:30px;text-align:center">
    <tr style="border:1px solid black">
        
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseReviews)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseRatings)
        </th>
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td style="border:1px solid black">
            @Html.DisplayFor(modelItem => item.CourseReviews)
        </td>
        <td style="border:1px solid black">
            @Html.DisplayFor(modelItem => item.CourseRatings)
        </td>
        
        
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Published Course List", "GetPublishedCourse")
</div>
