@model IEnumerable<Udemy_Project.Models.CourseTrainer>

@{
    ViewBag.Title = "GetPublishedCourse";
}

<h2>Your PublishedCourse</h2>

<p>
    @Html.ActionLink("Add New Course", "AddCourse")
</p>
<table class="table" style="border:1px solid black;margin-top:30px;text-align:center">
    <tr style="border:1px solid black">
       
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseLevels)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseLanguage)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CourseSkills)
        </th>
        <th style="border:1px solid black">
            @Html.DisplayNameFor(model => model.CousrePrice)
        </th>

        <th style="text-align:center;border:1px solid black"> Actions </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseLevels)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseLanguage)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CourseSkills)
            </td>
            <td style="border:1px solid black">
                @Html.DisplayFor(modelItem => item.CousrePrice)
            </td>

            <td style="border:1px solid black">
                @Html.ActionLink("Edit", "EditCourse", new { courseId = item.CourseId }) |
                @Html.ActionLink("Delete", "Delete3", new { courseId = item.CourseId })|
                @Html.ActionLink("CourseStats", "CourseStats", new { courseId = item.CourseId })
                @using (Html.BeginForm("GetFeedback", "Trainer", new { courseId = item.CourseId }))
                {
                    <input type="submit" value="Course Feedback" id="btnGet" />
                }

            </td>
            <!--<td>-->
                @*@Html.ActionLink("Course Feedback", "GetFeedback", new { courseId = item.CourseId })*@

                <!--@using (Html.BeginForm("GetFeedback", "Trainer", new { courseId = item.CourseId }))
                {
                    <input type="submit" value="Course Feedback" id="btnGet" />
                }
            </td>-->
        </tr>
    }

</table>


@*<script type="text/javascript">

        function validateFeedBack() {

            var feedbackCount = @Convert.ToInt32(TempData["FeedbackCount"]);

            if (feedbackCount == 0) {
                alert("No Feedback Available");
            }
            }

        
    </script>*@

